html {
 background: url('/Kung_Fu_Panda.jpg'); /* updated*/
 box-sizing: border-box;
 background-size: cover;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif; /* updated*/
  text-align: center;
}

h1 {
  font-size: 90px;
  color: white;
  -webkit-text-stroke: 2px white; /*updated*/
}

h2 {
  font-size: 40px;
  color: white;
 -webkit-text-stroke: 1px rgb(71, 45, 23);
}

#start {
  position: fixed;
  bottom: 15px;
  left: 15px;
  font-size: 30px;
}

/* Added*/
#audio {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 30px;
}

#timer {
  color: white;
}

.grid {
  width: 540px;
  height: 540px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
/*Added grid shading*/
  background-color: rgba(162, 126, 110, 0.4);
  background-size: cover;
  border: 3px solid orangered;
  border-radius: 30px;
}


.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
 background: url('./Dojo.png') bottom center no-repeat;
 background-size:contain;
  content:'';
  width: 180px;
  height: 150px;
  position: absolute;
  bottom: -40%;
  z-index: 2;
  pointer-events:none;
}

.mole {
 background: url('/Tai.png') bottom center no-repeat;
 background-size: 50%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  /*transition: transform 0.5s;*/
  transition: all 1s;
  pointer-events:auto;
}

.hole.show .mole {
  top: 0;
  /*transform: scale(1.1);*/
}
